body {
  background-color: #e0f2f1;
  margin: 0%;
}

.navibar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: cornflowerblue;
  display: flex;
  line-height: 250%;
  justify-content: center;
}

.navA {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 130%;
  text-decoration: none;
  color: lightgrey;
  margin-left: 2%;
  margin-right: 2%;
}

ul {
  list-style: none;
  display: block;
  overflow: hidden;
  margin: 0px;
}

h1 {
  font-family: Georgia;
  font-size: 300%;
}

.narrowContainer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

p {
  font-family: Georgia;
  font-size: 130%;
  line-height: 35px;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 100%;
  font-family: monospace;
  color: #333333;
  margin-top: 5%;
  margin-bottom: 1%;
}

footer a {
  text-decoration: none;
  color: #333333;
}

footer ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 0.1%;
}

footer ul li {
  margin-left: 1%;
  margin-right: 1%;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.inTextLink {
  text-decoration: none;
  color: #999;
}

.inTextLink:hover {
  background-color: wheat;
  color: hotpink;
}

.pic {
  text-align: center;
  margin: 0 auto;
}

.dbtn {
  font-size: 50%;
  text-decoration: none;
  color: #999;
  font-family: monospace;
}

hr {
  margin-top: -30px;
}

.skillList {
  list-style-type: disc;
  line-height: 35px;
  font-family: sans-serif;
}
