body {
  background-color: #e0f2f1;
  margin: 0%;
}

.navibar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: cornflowerblue;
  display: flex;
  margin: 0px auto;
  padding: 0px;
  line-height: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.navA {
  display: block;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 150%;
  text-decoration: none;
  color: black;
  margin-inline: 20px;
}

ul {
  list-style: none;
  display: block;
  overflow: hidden;
  margin: 0px;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 20px;
  font-size: 300%;
}

.texts {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
  font-family: Cambria, Cochin, Georgia;
}

footer a {
  text-decoration: none;
  color: #3f51b5;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #999;
}