<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <nav class="navibar">
      <a href="/" class="navA"> Home </a>
      <a href="/cv" class="navA"> CV </a>
      <a href="/blog" class="navA"> Blog </a>
      <a
        href="https://500px.com/p/andy8647lgc?view=photos"
        target="_blank"
        class="navA"
      >
        Photography
      </a>
    </nav>

    <div class="texts">
      <div class="container">{{ content }}</div>

      <footer>
        <ul>
          <li><a href="https://github.com/Andy8647">Github</a></li>
          <li>
            <a href="https://www.linkedin.com/in/gancheng-luo-2999811b6/"
              >LinkedIn</a
            >
          </li>
          <li>
            <a href="mailto:andy8647lgc@gmail.com"></a>andy8647lgc@gmail.com
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
